.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.774)), url("/images/background.png");
  width: 100%;
  background-size: cover;
  padding: 30px 0;
}

.navbar {
  h1 {
    letter-spacing: 8px;
  }

  h3 {
    letter-spacing: 3px;
  }

  h1,
  h3 {
    color: $color-light;
    text-align: left;
  }

  .nav-links {
    text-align: right;

    a {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 8px;
      color: gray;
    }
  }
}

.hero-inner {
  padding-top: 14%;

  h1 {
    font-size: 96px;
    letter-spacing: 16px;
  }
  
  .hero-title {
    text-align: left;
    transform: translateX(-3%);
  }

  .hero-subtitle {
    text-align: right;
    transform: translateX(3%);
  }

  span::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%);
    background: $color-main;
    width: 250px;
    height: 5px;
  }
 
  .hero-button {
    padding-top: 22%;

    p {
      color: $color-light;
      font-size: 30px;
      letter-spacing: 6px;
      text-transform: uppercase;
    }

    i {
      font-size: 30px;
      color: $color-light;
    }
  }
}