.container {
  margin: 0 auto;
  padding: 0 20px;
}

footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  h3 {
    text-transform: none;

    span {
      text-transform: uppercase;
    }
  }
}