h1 {
  font-family: $font;
  font-size: 34px;
  font-weight: $font-bold;
  text-transform: uppercase;
  color: $color-main;
}

h2 {
  font-family: $font;
  font-size: 26px;
  font-weight: $font-bold;
  text-transform: uppercase;
  color: $color-dark;
}

h3 {
  font-family: $font;
  font-size: 20px;
  font-weight: $font-semibold;
  text-transform: uppercase;
  color: $color-dark;
}

a {
  text-decoration: none;
  font-family: $font;
  color: $color-light;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: $font-semibold;
}

p {
  font-family: $font;
  color: $color-dark;
  font-weight: $font-regular;
  font-size: 18px;
}