/* Variables */

/* Colors */
$color-main: #BEA67C;
$color-light: #FFF;
$color-dark: #000;

/* Fonts */
$font: 'Source Sans Pro', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-semibold-italic: 600 italic;
$font-bold: 700;
$font-black: 900;